body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}




/*/хлебные крошки от magic*/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
  border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
  border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
  border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
  border-left: 10px solid #285e8e;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*//для сокрытия меню(правого)*/
.cd-accordion-menu input[type=checkbox] {
position: absolute;
opacity: 0;
}
.cd-accordion-menu label, .cd-accordion-menu a {
margin-top:4px;
position: relative;
display: block;
padding: 10px 10px 10px 14px;
background: #4d5158;
box-shadow: inset 0 -1px #555960;
color: #ffffff;
font-size: 1.2rem;
}

.cd-accordion-menu label:hover,.cd-accordion-menu a:hover {
background:#353535;
}

.cd-accordion-menu ul {
display: none;
}

.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
display: block;
}

/*моя кнопка*/
a.mybtn{
background:#4d5158;
 margin-left:5px; 
 margin-bottom:7px;
 color:whitesmoke; 
 text-decoration:none
}
a.mybtn:hover{
background:#353535;
 color:whitesmoke;
}
a.mybtn:active{
background:#555960;
}






\\pager
/*border-top: 2px solid silver;*/
.pager2 { max-height: 20px;}
div.pager2 {text-align:center; padding: .5em 0 0 0; margin-top: 1em; }
div.pager2 a {font-size: 1.1em; color:#666; text-decoration: none; padding: 0 .4em 0 .4em; }
div.pager2 a:hover {background-color: silver;}
div.pager2 a.selected {background-color:#353535; color:white;}

#pagerid2top{
    border-bottom: 2px solid silver;
}

#pagerid2bot{
    border-top: 2px solid silver;
}



#verticalmenubutton{
    color:black;
}

.footer{
    height:100px;
    background:whitesmoke;
    margin-bottom:-25px;
}

.ml-25{
    margin-left:-25px;
}
.ml-65{
    margin-left:-65px;
}
.mb10{
    margin-bottom:10px;
}
.mb20{
    margin-bottom:20px;
}
.mb30{
    margin-bottom:30px;
}
.mb40{
    margin-bottom:40px;
}
.mb50{
    margin-bottom:50px;
}
.mb60{
    margin-bottom:60px;
}

.mt10{
    margin-top:10px;
}
.mt20{
    margin-top:20px;
}
.mt30{
    margin-top:30px;
}
.mt40{
    margin-top:40px;
}
.mt50{
    margin-top:50px;
}
.mt60{
    margin-top:60px;
}
.mt70{
    margin-top:70px;
}

.ml10{
    margin-left:10px;
}
.ml20{
    margin-left:20px;
}
.ml30{
    margin-left:30px;
}
.ml40{
    margin-left:40px;
}
.ml50{
    margin-left:50px;
}
.ml60{
    margin-left:60px;
}

.mr10{
    margin-right:10px;
}
.mr20{
    margin-right:20px;
}
.mr30{
    margin-right:30px;
}
.mr40{
    margin-right:40px;
}
.mr50{
    margin-right:50px;
}
.mr60{
    margin-right:60px;
}
.fll{
    float:left;
}
.flr{
    float:right;
}
.flc{
text-align:center;
}




/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
