body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mb10{
    margin-bottom:10px;
}
.mb20{
    margin-bottom:20px;
}
.mb30{
    margin-bottom:30px;
}
.mb40{
    margin-bottom:40px;
}
.mb50{
    margin-bottom:50px;
}
.mb60{
    margin-bottom:60px;
}

.mt10{
    margin-top:10px;
}
.mt20{
    margin-top:20px;
}
.mt30{
    margin-top:30px;
}
.mt40{
    margin-top:40px;
}
.mt50{
    margin-top:50px;
}
.mt60{
    margin-top:60px;
}

.ml10{
    margin-left:10px;
}
.ml20{
    margin-left:20px;
}
.ml30{
    margin-left:30px;
}
.ml40{
    margin-left:40px;
}
.ml50{
    margin-left:50px;
}
.ml60{
    margin-left:60px;
}

.mr10{
    margin-right:10px;
}
.mr20{
    margin-right:20px;
}
.mr30{
    margin-right:30px;
}
.mr40{
    margin-right:40px;
}
.mr50{
    margin-right:50px;
}
.mr60{
    margin-right:60px;
}
.fll{
    float:left;
}
.flr{
    float:right;
}
.flc{
text-align:center;
}




/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
