@model evrostroy.Web.Models.MainCharacteristicProductModels
@{
    ViewBag.Title = Model.NameCategory.ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.NameCategory.ToString()</h3>

@Html.Action("BreadCrumbs","Catalog", new { route = Model.NameCategory.ToString()})

@Html.Partial("ProductsList")
