
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/Site.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exception</title>
</head>
<body>
    <div class="flc mt50"> 
        <h1>Ошибочка вышла :(</h1>
    </div>
</body>
</html>
