
@{
    ViewBag.Title = "Сообщение отправлено";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<dir class="flc">
    <h2>Вам на email отправлена инструкция по восстановлению пароля.</h2>
    <a href="/Home/MainPage/" class="btn btn-primary">Продолжить</a>
</dir>



