
@{
    ViewBag.Title = "ThanksForRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="flc">
    <h2>Спасибо, что зарегистрировались на нашем сайте!</h2><br/>

       <a class="btn btn-primary" href="/Home/MainPage"> Продолжить покупки</a>

</div>
